.daily-forecast {
    color: #eecac5;
    padding: 20px 0;
    max-width: 200px;
    margin: 0 auto;
    .high-low {
        .high, .low {
            padding: 20px 5px 0;
        }
        .low {
            opacity: 0.5;
        }
    }
    .day {
        margin-bottom: 0;
    }
}
